{
	"configuration": {
		"host": "localhost",
		"port": 9000,
		"endpoint": "paraview",
		"content": "C:/ParaView-5.4.1/share/paraview-5.4/web/visualizer/www",
		"proxy_file": "C:/Apache24/proxy.txt",
		"sessionURL": "ws://paraview:80/proxy?sessionId=${id}&path=ws",
		"timeout": 30,
		"log_dir": "C:/ParaView-5.4.1/log/",
		"fields": []
	},
	"resources": [{
		"host": "localhost",
		"port_range": [9001, 9999]
	}],
	"properties": {
		"python_exec": "C:/ParaView-5.4.1/bin/pvpython.exe",
		"visualizer": "C:/ParaView-5.4.1/share/paraview-5.4/web/visualizer/server/pvw-visualizer.py",
		"dataDir": "D:/ParaView-5.2.1/data/"
	},
	"apps": {
		"visualizer": {
			"cmd": [
				"${python_exec}", "-dr", "${visualizer}", "--port", "${port}", "--authKey", "${secret}", "--data", "${dataDir}"
			],
			"ready_line": "Starting factory"
		}
	}
}